<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>My Heritage India</title>

    <!-- Fav Icon -->
    <link rel="icon" href="assets/images/logo1.png" type="image/x-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        rel="stylesheet">

    <!-- Stylesheets -->
    <link href="assets/css/font-awesome-all.css" rel="stylesheet">
    <link href="assets/css/flaticon.css" rel="stylesheet">
    <link href="assets/css/owl.css" rel="stylesheet">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet">
    <link href="assets/css/nice-select.css" rel="stylesheet">
    <link href="assets/css/jquery-ui.css" rel="stylesheet">
    <link href="assets/css/color.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">

</head>


<!-- page wrapper -->

<body style="background-image: url('assets/images/resource/white-paper-texture.jpg') !important;">

    <div class="boxed_wrapper">





        <!-- main header -->
        <header class="main-header style-one">
            <!-- header-lower -->
            <div class="header-lower">
                <div class="auto-container">
                    <div class="outer-box">
                        <div class="logo-box">
                            <figure class="logo"><a href="contact.html"><img src="assets/images/logo1.png" alt=""></a>
                            </figure>
                        </div>
                        <div class="menu-area clearfix">
                            <!--Mobile Navigation Toggler-->
                            <div class="mobile-nav-toggler">
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                            </div>
                            <nav class="main-menu navbar-expand-md navbar-light">
                                <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        <li class="current dropdown"><a href="index.html">Home</a></li>
                                        <li class="dropdown"><a href="destination.html">Destinations</a></li>
                                        <li><a href="contact.html">Contact</a></li>

                                        <li><a href="login.html">Login</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>

                        </ul>
                    </div>
                </div>
            </div>

            <!--sticky Header-->
            <div class="sticky-header">
                <div class="auto-container">
                    <div class="outer-box">
                        <div class="logo-box">
                            <figure class="logo"><a href="contact.html"><img src="assets/images/logo1.png" alt=""></a>
                            </figure>
                        </div>
                        <div class="menu-area">
                            <nav class="main-menu clearfix">
                                <!--Keep This Empty / Menu will come through Javascript-->
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </header>
        <!-- main-header end -->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><i class="fas fa-times"></i></div>

            <nav class="menu-box">
                <div class="nav-logo"><a href="contact.html"><img src="assets/images/logo1.png" alt="" title=""></a>
                </div>
                <div class="menu-outer">
                    <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                </div>
                <div class="contact-info">
                    <h4>Contact Info</h4>
                    <ul>
                        <li>My Heritage India</li>
                        <li><a href="tel:+91 00000 00000">+91 00000 00000</a></li>
                        <li><a href="mailto:info@example.com">xyz@gmail.com</a></li>
                    </ul>
                </div>
                <div class="social-links">
                    <ul class="clearfix">
                        <li><a href="contact.html"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="contact.html"><span class="fab fa-facebook-square"></span></a></li>
                        <li><a href="contact.html"><span class="fab fa-pinterest-p"></span></a></li>
                        <li><a href="contact.html"><span class="fab fa-instagram"></span></a></li>
                        <li><a href="contact.html"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><i class="fas fa-times"></i></div>

            <nav class="menu-box">
                <div class="nav-logo"><a href="contact.html"><img src="assets/images/logo-2.png" alt="" title=""></a>
                </div>
                <div class="menu-outer">
                    <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                </div>
                <div class="contact-info">
                    <h4>Contact Info</h4>
                    <ul>
                        <li>JIMS VK</li>
                        <li><a href="tel:+910000000000">+91 000 000 0000</a></li>
                        <li><a href="mailto:xyz@outlook.cm"></a>xyz@outlook.cm</li>
                    </ul>
                </div>
                <div class="social-links">
                    <ul class="clearfix">
                        <li><a href="contact.html"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="contact.html"><span class="fab fa-facebook-square"></span></a></li>
                        <li><a href="contact.html"><span class="fab fa-pinterest-p"></span></a></li>
                        <li><a href="contact.html"><span class="fab fa-instagram"></span></a></li>
                        <li><a href="contact.html"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->



        <!-- Page Title -->
        <section class="page-title centred" style="background-image: url(assets/images/background/page-title-2.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <h1>Golden Temple</h1>
                    <p> 'The Golden Temple'</p>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- destination-details -->
        <section class="destination-details">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                        <div class="destination-details-content">
                            <div class="inner-box">
                                <div class="text">
                                    <h2>Golden Temple
                                    </h2>
                                    <p> The Golden Temple Amritsar India (Sri Harimandir Sahib Amritsar) is not only a
                                        central religious place of the Sikhs, but also a symbol of human brotherhood and
                                        equality. Everybody, irrespective of cast, creed or race can seek spiritual
                                        solace and religious fulfilment without any hindrance. It also represents the
                                        distinct identity, glory and heritage of the Sikhs.


                                    </p>
                                    <p>
                                        To pen-down the philosophy, ideology, the inner and outer beauty, as well as the
                                        historical legacy of Sri Harmandir Sahib is a momentous task. It is a matter of
                                        experience rather than a of description.

                                        As advised by Sri Guru Amar Dass Ji (3rd Sikh Guru), Sri Guru Ram Dass Ji (4th
                                        Sikh Guru) started the digging of Amrit Sarovar (Holy Tank) of Sri Harmandir
                                        Sahib in 1577 A.D., which was later on brick-lined by Sri Guru Arjan Dev Ji (5th
                                        Sikh Guru) on December 15, 1588 and He also started the construction of Sri
                                        Harmandir Sahib. Sri Guru Granth Sahib (scripture of the Sikhs), after its
                                        compilation, was first installed at Sri Harmandir Sahib on August 16, 1604 A.D.
                                        A devout Sikh, Baba Budha Ji was appointed its first Head Priest.

                                        The Golden Temple Amritsar India (Sri Harmandir Sahib Amritsar) has a unique
                                        Sikh architecture. Built at a level lower than the surrounding land level, The
                                        Gurudwara teaches the lesson of egalitarianism and humility. The four entrances
                                        of this holy shrine from all four directions, signify that people belonging to
                                        every walk of life are equally welcome.
                                </div>

                            </div>
                            <div class="country-details">
                                <div class="text">
                                    <h3>Monument Details</h3>
                                </div>
                                <ul class="details-list clearfix">
                                    <li><i class="fas fa-map-marker-alt"></i><span>Location:</span>
                                        Punjab
                                    </li>
                                    <li><i class="far fa-id-card"></i><span>Timings:</span> 03:00 AM TO 10:00 PM</li>
                                    <li><i class="fas fa-globe"></i><span>City:</span> Punjab</li>
                                    <li><i class="far fa-dollar-sign"></i><span>Entry:</span> RS. 0.00 - 0.00 </li>
                                    <li><i class="fas fa-window-close"></i><span>Days Closed:</span> NONE </li>
                                </ul>
                            </div>
                            <div class="country-details">
                                <div class="text">
                                    <h3>Ticket Details</h3>
                                </div>
                                <ul class="details-list clearfix">
                                    <li><i class="fas fa-dollar-sign"></i><span>Indian National :</span>RS. 0.00</li>
                                    <li><i class="far fa-dollar-sign"></i><span>Foreigner / NRI :</span>RS. 0.00</li>
                                </ul>
                            </div>
                            <div class="link-box centred">
                                <a href="login.html" class="theme-btn">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                        <div class="default-sidebar destination-sidebar ml-20">
                            <div class="sidebar-widget post-widget">
                                <div class="advice-widget">
                                    <div class="inner-box"
                                        style="background-image: url(assets/images/tour/goldentemple.png);">
                                        <div class="text">
                                            </br>
                                            </br>
                                            </br>
                                            </br>
                                            </br>
                                            </br>
                                            </br>
                                            </br>
                                            </br>
                                            </br>
                                            </br>
                                            </br>
                                            </br>
                                            </br>
                                            </br>
                                            </br>
                                            </br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!-- destination-details end -->


         <!-- main-footer -->
 <footer class="main-footer bg-color-2">
    <div class="footer-top">
        <div class="vector-bg" style="background-image: url(assets/images/shape/shape-11.png);"></div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget logo-widget">
                        <figure class="footer-logo"><a href="index.html"><img src="assets/images/logo1.png"
                                    alt=""></a></figure>
                        <div class="text">
                            <p>My Heritage India Qr Based Paperless Vistor Management System</p>
                        </div>
                        <ul class="social-links clearfix">
                            <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="index.html"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="index.html"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="index.html"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget links-widget">
                        <div class="widget-title">
                            <h3>Services</h3>
                        </div>
                        <div class="widget-content">
                            <ul class="links-list clearfix">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="index.html">About Us</a></li>
                                <li><a href="destination.html">Explore</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="Helpdesk.com">HelpDesk Portal</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget contact-widget">
                        <div class="widget-title">
                            <h3>Contacts</h3>
                        </div>
                        <div class="widget-content">
                            <ul class="info-list clearfix">
                                <li><i class="fas fa-map-marker-alt" style="color: white !important;"></i>Thapar
                                </li>
                                <li><i class="fas fa-microphone" style="color: white !important;"></i><a
                                        href="tel:+910000000000" style="color: white !important;">+91 00000
                                        00000</a></li>
                                <li><i class="fas fa-envelope" style="color: white !important;"></i><a
                                        href="xyz@gmail.com">xyz@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="bottom-inner clearfix">
                <div class="copyright pull-left">
                    <p><a href="index.html">My Heritage India</a> &copy; 2023 All Right Reserved</p>
                </div>
                <ul class="footer-nav pull-right">
                    <li><a href="index.html">Terms of Service</a></li>
                    <li><a href="index.html">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- main-footer end -->
        <!--Scroll to top-->
        <button class="scroll-top scroll-to-target" data-target="html">
            <span class="fal fa-angle-up"></span>
        </button>
    </div>
    <!-- jequery plugins -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/validation.js"></script>
    <script src="assets/js/jquery.fancybox.js"></script>
    <script src="assets/js/appear.js"></script>
    <script src="assets/js/scrollbar.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <!-- map script -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-CE0deH3Jhj6GN4YvdCFZS7DpbXexzGU"></script>
    <script src="assets/js/gmaps.js"></script>
    <script src="assets/js/map-helper.js"></script>
    <!-- main-js -->
    <script src="assets/js/script.js"></script>
</body><!-- End of .page_wrapper -->

</html>